.designTag{
    background: $blue-100;
    color: $blue-800;
}

.developmentTag{
    background: $yellow-200;
    color: $yellow-800;
}

.dataAnalysisTag{
    background: $green-100;
    color: $green-800;
}

.userResearchTag{
    background: $red-100;
    color: $red-800;
}

.designSystemTag{
    background: $brand-100;
    color: $brand-800;
}

.planningTag{
    background: $green-100;
    color: $green-800;
}

.researchTag{
    background: $purpule-200;
    color: $purpule-800;
}
