.Research{
    background: $purpule-200;
    color: $purpule-800;
}

.Wireframe{
    background: $red-100;
    color: $red-800;
}

.Prototyping{
    background: $green-100;
    color: $green-800;
}

.UIUXDesign{
    background: $blue-100;
    color: $blue-800;
}

.DesignSystem{
    background: $purpule-200;
    color: $purpule-800;
}



.FrontEndDevelopment{
    background: $red-100;
    color: $red-800;
}

.UserFlow{
    background: $brand-100;
    color: $brand-800;
}

.VisualDesign{
    background: $green-100;
    color: $green-800;
}

.DataAudit{
    background: $purpule-200;
    color: $purpule-800;
}

.DataAnalysis{
    background: $blue-100;
    color: $blue-800;
}

.DataVisualization{
    background: $yellow-200;
    color: $yellow-800;
}

