
.container{
    h1 {
        font-size: $h000-size;
        font-weight: $font-weight-black;
        line-height: 58px;
        margin-bottom: $spacer-6;
     }
    
     h2 {
        @include h2;
        margin-bottom: $spacer-3;
     }

     h5 {
        color: $gray-400;
        font-weight: $font-weight-semi-bold;
        text-transform: uppercase;
     }
    
     p{
         line-height: $lh-comfortable;
         margin-bottom: $spacer-4;
     }
    
}


 .illustrations{ 
    align-items: center;
    display: flex;
    flex-direction: column;
}

.actions{
    display: flex;  
    &>a:first-child{
        margin-right: $spacer-4;
    }
}