
.toc {
   margin: 0;
   position: fixed;
   top: 50%;
   left: $spacer-3;
   transform: translateY(-50%);
   z-index: 999;
   transition: opacity 0.3s linear;
   max-width: none !important;
   padding-left: 0 !important;
   border-left: 1px solid $gray-200;
   @include breakpoint("xl"){
      display: none;
    }

   & li{
      list-style: none;
      margin-bottom: 0 !important;

      &:hover{
         border-left: 1px solid $gray-400;
      }

      &.active{
         border-left: 2px solid $brand;
      }

      &::before{
         content: none !important;
         margin-left: 0;
      }
   }


   & li a{
      color: $gray-800;
      font-size: 13px;
      font-weight: 600;
      padding-left: $spacer-2;
      opacity: .3;
      transition: all 0.3s linear;
   }

   & li a:hover{
      text-decoration: none;
      opacity: 1;
      margin-left: $spacer-1;
   }

   & li.active a{
      opacity: 1;
      margin-left: $spacer-1;
   }

}

