
// Desktop menu

.srollBackground{
    // background-color: scale-color($white, $alpha: -10%);

    position: absolute;
    height: 100%;
    width: 100%;  
    top:0;
    transition: opacity $transition-time;
}

.menuIsScrolled{
    background-color: scale-color($white, $alpha: -10%);
    box-shadow: $box-shadow-bottom;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px); 
    transition: opacity $transition-time;
}

.desktopMenu {
    position: fixed;
    z-index: 99;
    top: 0px;
    left: 0px;
    width: 100%;
    // box-shadow: $box-shadow-bottom;
    color: $black;
    height: 54px;

    .desktopMenuInnerContainer{
        @include container-lg;
        position: relative;
        display: flex;
        justify-content: space-between;
        height: 100%;
        z-index: 10;
    }

    .logo, .logo>a {
        @include flex-center;

        svg{
            width: 28px;
            height: 28px;
        }
  
        svg path{
            fill:$brand;
        }
    }

    .menuItems {
        @include center-horizontal;
        height: 100%;
        @include breakpoint("md"){
            display: none;
        } 

        &>ul, &>ul>li {
            float: left;
            min-width: 90px;
            text-align: center;
            height: 100%;
        }

        li.withDropdown{
            position: relative;
         
        }


        li.withDropdown a.active{
            box-shadow:none;       
        }

        li.withDropdown .dropndownIcon{
        position: absolute;
           margin-left: 2px;
           height: 100%;
           float: right;
           transition: all $transition-time ease-in-out;
        }
        

        &>ul>li>a {
            transition: $transition-time color;
            font-size: 16px;
            cursor: pointer;
            padding: 0 $spacer-2;
            color: $gray;
            text-decoration: none;
            height: 100%;
            line-height: 54px;
            display: inline-block;
            font-weight: $font-weight-semi-bold;
            vertical-align: middle;
            transition: $transition-time all;
            position: relative;
            &:hover:not(.active){
              color: $gray-800;  
            }
            &:hover:not(.active)::before {
                content: "";
                position: absolute;
                bottom:0;
                left: 0;
                width: 100%;
                height: 2px;
                background: $gray-300;
            }
        }

        a.active{
            color: $brand;
            // box-shadow: inset 0px -2px 0 0px $brand;
        }

        a.active:after{
            content: "";
            position: absolute;
            bottom:0;
            left: 0;
            width: 100%;
            height: 2px;
            background: $brand;
        }
    
    }

    .DesktopMenuButton {
        display: none;
        cursor: pointer;
        font-size: 16px;
        @include breakpoint("md") {
            @include flex-center;
        }

        &:hover{
            color: $brand;
        }

        &:hover svg path{
            fill: $brand;
        }
    
        &>span{
            margin-left: $spacer-1;
        }
    }

    .desktopLanguageContainer{

        @include breakpoint("md") {
            display: none;
        }

        margin-left: $spacer-2;
        position: relative;

        .japaneseFlag{
            border:1px solid $gray-300;
            border-radius: 16px;
        }

        svg{
            position: relative;
            vertical-align: middle;
            margin-top: -3px;
            width: 14px;
        }

        li{
            float: left;
            position: relative;
        }

        li:first-child::before{
            content:"";
            position: absolute;
            @include center-vertical;
            right: 0;
            width: 1px;
            height: 24px;
            background: $gray-300;
        }

        li:first-child{
            padding-right: $spacer-3;
        }

        li:last-child{
            padding-left: $spacer-3;
        }

        a{
            vertical-align: middle;
            transition: $transition-time color;
            font-size: 16px;
            cursor: pointer;
            padding-left: $spacer-2;
            color: $gray;
            text-decoration: none;
            height: 100%;
            line-height: 54px;
            font-weight: $font-weight-semi-bold;
            display: inline-block;
            vertical-align: middle;
            &:hover:not(.active) {
                color: $black;
                box-shadow: inset 0px -2px 0 0px $gray-300;
            }
        }


        :global(a.active){
            color: $brand !important;
        }

    }
}

// Mobile menu
.mobileMenu{
    width: 100%;
    height: 100%;
    position: fixed;
    top:0;
    left: 0;
    z-index: 9999;
    background: $brand-300; 
    overflow-y: scroll;
    display: none;
    @include breakpoint("md") {
        display: block;
    }

    .MobileMenuInnerContainer{
        width: 100%;
        height: $spacer-8;
    }

    .MobileMenuHeader{
        @include flex-center;
        justify-content: space-between;
        width: 100%;
        height: $spacer-8;
        padding: 0 $spacer-3; 
    
        .logo path{
            fill: $white;
            cursor: pointer;
        }

        .closeIcon{
            cursor: pointer;
        }

        .closeIcon polygon{
            fill: $brand-100;    
        }

        .closeIcon:hover polygon{
            fill: $white;
        }
    
        .logo a{
            @include flex-center;
        }
    
    }

    .menusContainers{
        position: relative;
        width: 100%;
        margin-bottom: 40px;
    
        &>ul{
            margin-bottom: $spacer-4;
    
            &>li{
                position: relative;
                text-align: center;
                list-style: none;
                margin-bottom: $spacer-3;
            }

        }

        svg{
            @include breakpoint("md") {
                display: none;
            }
        }

    
        a{
            @include h1;
            color: $brand-200;
            text-decoration: none;
        }

        &>ul li:not(.withDropdown) a:hover{
            color: $white; 
        }
    
        :global(a.active){
            color: $white;
            font-weight: $font-weight-bold;
        }
    }




    .MobilelanguageContainer{
    
        ul{
            @include flex-center;
        }
    
        li{
            list-style: none;
        }
    
        li:first-child{
            margin-right:$spacer-4;
        }
    
        a{
            font-size: $h2-size;
            font-weight: $font-weight-bold;
        }
    
        a.active{
            color: white;
        }
    }
}



.desktopDropdown{
    position: absolute;
    left: calc(50%);
    transform: translateX(-50%); 
    display:flex;
    z-index: 99;
    top: 70px;
    background: #fff;
    padding: 16px 0 0 0;
    box-shadow: 0px 11px 20px scale-color($gray-500, $alpha: -90%);
    width: 563px;
    border-radius: 0 0 8px 8px;
    border: 1px solid $gray-200;
    transition: all $transition-time ease-in-out;
    visibility: hidden;
    opacity: 0;
}

.menuItems .withDropdown:hover .desktopDropdown{
    top: 63px;
    visibility: visible;   
    opacity: 1;
} 

.menuItems .withDropdown:hover .dropndownIcon{
    transform: rotate(180deg);
} 

.isVisible{
    top: 63px;
    opacity: 1;   
} 

.desktopDropdown:after{
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    top: -8px;
    left: 50%;
    transform: translateX(-50%);
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #fff;
}

.desktopDropdown:before{
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    top: -10px;
    left: calc(50% + .5px);
    transform: translateX(-50%);
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid $gray-200;
}

.desktopDropdownInner{
    position: relative;
    width: 100%;
    padding: 0 16px 16px 16px;
    margin: 0 auto;
    height: 380px;
    overflow-y: scroll; 
}

.desktopDropdownItem{
    width: 100%;
    max-height: 132px;
    padding: 16px;
    margin-bottom: 8px;
    cursor: pointer;
    border-radius:4px;

    &:hover{
        background: $gray-000;
    }


    &:hover .preview{
        opacity: 0.8;
    }

    &.active{
        background: $brand-000;
    }
}

.desktopDropdownItem a{
    flex-direction: row;
    display: flex;
    color: #101426;
    transition: all $transition-time ease-in;   

    &:hover{
        text-decoration: none;
    }
}

.desktopDropdownItem:last-child{
    margin-bottom: 0;   
}

.preview{
    width: 176px;
    height: 100px;
    margin-right: 16px;
    background: $gray-300;   
    border-radius: $border-radius;
    border: 1px solid $gray-100;  
    overflow: hidden;
}

.content{
    text-align: left;
    width: 303px;  
    font-size: 14px;
    line-height: 20px;
    font-weight: $font-weight-bold;
}


.mobileDropdown{

    overflow-x: scroll;
   

    .mobileDropdownImage{
        border-radius: 4px;
        filter: grayscale(100%);
        opacity: .6;
        z-index: 2;
        transition: all $transition-time ease-in-out;
    }

    .mobileDropdownInner{
        margin: $spacer-3 0 $spacer-4 0;
        min-height: 220px;
        position: relative;
    }

    .mobileDropdownItem{
        min-height: 195px;
        display: flex;
        position: absolute;
        top:0;
        width: 100%;
        left:calc(50% - 260px / 2 );

        .mobileDropdownContainer{
            display: block;
            width: 260px;
            margin-right: $spacer-4;

            &.active .mobileDropdownImage,
            &:hover .mobileDropdownImage{
                filter: grayscale(0%);
                opacity: 1;
            }
        }

        &>a:last-child{
            margin-right: $spacer-9;
        }

    }

    .mobileDropdownImageContainer{
        height: 100px;
        width: 100%;
        display: block;
        overflow: hidden;
    }



    .mobileDropdownContent{
        display: block;
        position: relative;
    }

    .mobileDropdownContentTags{
        display: block;  
        margin-top: 16px;   
    }

    .mobileDropdownContentTitle{
        margin-top: 4px;
        display: block;
        color: $white;
        font-size: 12px;
        text-align: left;
        line-height: 1.5;
        z-index: 4;
    }

}