
.container {
    margin-top: $spacer-11;
    padding: $spacer-6 0;
    background: $gray-700;
    text-align: right;
}

.innerContainer {
    @include container-md;
    text-align: center;
    color: $white;

    h4{
        color: $gray-400;
        font-weight: normal;
    }

    h1{
        margin-bottom: $spacer-1;
    }

    .outro{
        color: $gray-100;
        font-size: $h4-size;
        padding-bottom: $spacer-4;
        max-width: $width-xs;
        margin: 0 auto;
    }

    .legals{
        color: $gray-400;
        font-size: $h6-size;
    }

    .socials{
       @include flex-center;
        padding: $spacer-5 0 0 0;
        margin-bottom: $spacer-2;

        li:first-child{
            margin-right: $spacer-3;
        }

        li{
            list-style: none;
            cursor: pointer;
            margin-right: 5px;
        }

        a{
            @include flex-center;
            color: $gray-400;
        }

    }
}

