$tooltip-theme: $brand;
 
.tooltipContainer{
    background: $tooltip-theme !important;
    font-size: $h6-size !important;
    border-radius: $border-radius !important;
    padding: $spacer-1 $spacer-2 !important;
    color: $white !important;


    &.hidePointer{
        &:after, &:before{
            display: none !important;
        }  
    }

}

// Fixed style overriding bug  
:global(#tooltipMenuJpLang){
    margin-top: -10px !important;
}

:global(#backToHomepage){
    margin-top: 10px !important;
    @include breakpoint("md"){
        margin-top: 0 !important;
        margin-left: 10px !important;
    }

}

:global(.place-bottom) {
    &:before, &:after {
        border-bottom: 8px solid transparent;
        border-bottom-color: $tooltip-theme !important;
    }
}


:global(.place-top) {
    &:before, &:after {
        border-top: 8px solid transparent;
        border-top-color: $tooltip-theme !important;
    }

}

:global(.place-left) {
    &:before, &:after {
        border-left-color: $tooltip-theme !important;
    }
}

:global(.place-right) {
    &:before, &:after {
        border-right-color: $tooltip-theme !important;
    }
}